*{
	margin: 0px;
	padding: 0px;
}
body{
    margin:0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.nome{  /*LOGO*/
    position: absolute;
    margin: 5px;
    color: white;
}
button.btn-cadastro{     /*BOTÕES CADASTRAR E LOGIN*/
    margin:30px;
    float: right;
    color: #FFF;
    font-size: medium;
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    height: 40px;
    line-height: 20px;
    padding: 0 40px;
    font-weight: arial;
    cursor: pointer;
    box-shadow: inset 0 0 0 black;
    transition: ease-out 0.9s;
    outline:none;
}
.btn-cadastro:hover{
    box-shadow: inset 300px 0 0 0 black;
} 
button.btn-login{     /*BOTÕES CADASTRAR E LOGIN*/
    margin:30px;
    float: right;
    color: #FFF;
    font-size: medium;
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    height: 40px;
    line-height: 20px;
    padding: 0 40px;
    font-weight: arial;
    cursor: pointer;
    box-shadow: inset 0 0 0 black;
    transition: ease-out 0.9s;
    outline:none;
}
.btn-login:hover{
    box-shadow: inset 300px 0 0 0 black;
}    
.btn-doar{     /*BOTÃO DOAR*/
  margin-top: 30px;
  width: 300px;
  height: 60px;
  border: none;
  color:white;
  background-color: darkslategray;
  border-radius: 20px;
  box-shadow: inset 0 0 0 black;
  transition: ease-out 0.7s;
  font-size: 2rem;
  outline:none;
}
.btn-doar:hover{
    box-shadow: inset 300px 0 0 0 black;
}
.button-doar{
    position:absolute;
	height:60px;
	width:200px;
	top:200px;			       /*eixo X */
	left:150px;			/*eixo Y */
}
.topo{ 
    position:absolute;
	height:627px;
	width:1310px;
	background-color:rgba(116, 110, 110, 0.39);
	opacity:none;
}
.text-meio{
    position:absolute;
	height:300px;
	width:500px;  
	top:200px;			       /*eixo X */
	left:370px;			/*eixo Y */
	text-align: center;
    text-transform: capitalize;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}
.titulo-meio{
    position:absolute;
	height:600px;
	width:720px;  
	margin-top:720px;			       /*eixo X */
	margin-left:270px;			/*eixo Y */
	text-align:center;
    color:black;
    font-family: 'arial', Courier, monospace;
} 
.imagem-meio{
    position:absolute;
	height:150px;
	width:1310px;  
	margin-top:800px;			       /*eixo X */		/*eixo Y */
    font-family: 'arial', Courier, monospace;
}
.imagem-esquerda{
    position: absolute;
    margin: 10px;
    margin-left: 50px;
}
.imagem-meio1{
    position: absolute;
    margin: 10px;
    margin-left: 360px;
}
.imagem-meio2{
    position: absolute;
    margin: 10px;
    margin-left: 680px;
}
.imagem-direita{
    position: absolute;
    margin: 10px;
    margin-left: 980px;
}
.texto-duplo{
    position:absolute;
	height:600px;
	width:1310pxpx;  
	margin-top:1050px;			       /*eixo X */			/*eixo Y */
	text-align:center;
    color:black;
    font-family: 'arial', Courier, monospace;
}
.texto-direita{
    height:300px;
	width:500px; 
    margin-left:700px;
    text-align: center;
}
.texto-esquerda{
    position: absolute;
    height:300px;
	width:500px; 
    margin-left:100px;
    text-align: center;
}
.ajuda-texto{
    position: absolute;
    margin-top: 1300px;
    margin-left: 400px;
}
.conteudo-ajuda1{
    position: absolute;
    text-align: center;
    margin-top: 50px;
}
.ajuda-estatic{
    position: absolute;
    margin-top: 1500px;
    height:100px;
	width:1310px;
}
.estatic1{
    margin:10px;
    position: absolute;
    margin-left: 400px;
    text-align:center;
}
.estatic2{
    margin:10px;
    position: absolute;
    margin-left: 600px;
    text-align:center;
}
.estatic3{
    margin:10px;
    position: absolute;
    margin-left: 800px;
    text-align:center;
}
.rodapé{
    margin-top: 1650px;
    color:white;
    position:absolute;
	height:200px;
	width:1310px;
	background-color:rgb(0, 0, 0);
}
.nomedoProjeto{
    margin: 20px;
    margin-top: 50px;
    position: absolute;
}
.link1{
    position:absolute;
    margin-left: 900px ;
    margin-top: 50px;
}
.link2{
    position:absolute;
    margin-left: 1100px ;
    margin-top: 50px;
}
.link3{
    position:absolute;
    margin-left: 750px ;
    margin-top: 50px;
}
